
.dayHeader{
    width:100%;
    height:150px;
    background: #DA5751;
    display: flex;
    flex-direction: row;
    color: white
}
.contentDate{
    display:flex;
    flex-direction: column;
    .Header{
        display: flex;
        flex-direction:row;
        .date{
            width:120px;
            height:80px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top:10px;
            background: #eee;
        }
    
    }
    .dateList{
        width:750px;
        height:720px;
        background:#eee;
    }
}